<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Welcome</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <style>
    h1 {
      text-shadow: rgba(255, 255, 255, 1) 0 0 5rem;
      transition: 1s ease-out;
    }
  </style>
</head>
<body class="w-100 vh-100 bg-dark d-flex justify-content-center align-items-center">
<div class="container d-grid text-center">
  <h1 class="text-warning">Welcome to the Docker</h1>
  <a href="/upload">upload</a>
</div>
</body>
</html>